* {
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#3772A5, #1B374F);
}

h5 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    justify-content: center;
}

.page-title {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}


.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}


@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0,0, 8);
        font-size: 5em;
    }
}


.game-description {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 50px;
}


.game-info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}


.game-info {
    color: #1B374F;
    background-color: #90A1B0;
    font-family: 'Mukta', sans-serif;
    font-size: 1.0em;
    margin: 0.7em;
    padding: 8px 50px;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #182F45;
    height: 175px;
    width: 182px;
    border:  #182F45 solid 0.5px;
}


.flashit {
    animation: flash linear 0.5s 1;
}


@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}


.checks-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#check-tick {
    height: 100px;
    width: 100px;
    visibility: visible;
}

#check-cross {
    height: 50px;
    width: 50px;
    visibility: hidden;
}


.bottons-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

button {
    background-color: #90A1B0;
    border: none;
    color: #182F45;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px 5px;
  }