* {
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#3772A5, #1B374F);
}

.page-title {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

.game-description {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}
.card {
    background-color: #182F45;
    height: 175px;
    width: 182px;
    border:  #182F45 solid 0.5px;
}

.bottons-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}